/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-family: Garamond, serif;
  font-size: 16px;
  color: white;
  background-color: black;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.Quotes {
  position: absolute;
  width: 30em;
  height: 5em;
  left: 20%;
  top: 20%;
  font-size: 1em;
}


#line1, #line2, #line3 {
  width: 100%;
}

#draggableDante {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 20%;
  top: 90%;
}

.forestHole {
  position: absolute;
}

.backImage {
  width:100%;
  height:100%;
}

#menuQuotes {
  opacity: 0;
  transition: 5s opacity;
}

#forestQuotes{
  opacity: 0;
  transition: 5s opacity;
}

#GameContainerContainer {
  padding-top: 1.25em;
  padding-botton: 1.25em;
}

#GameContainer {
  position: relative;
  margin: auto;
  height: 31.25em; 
  width: 62.5em;
  background-color: black;
}

#startGame {
  position: absolute;
  width: 5em;
  height: 5em;
  bottom: 0;
  left:50%;
  transform: translateX(-50%); -webkit-transform: translateX(-50%);
  text-align: center;
  font-size: 2em;
}