/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  background-color: black;
}

#GameContainerContainer {
  padding-top: 1.25em;
  padding-botton: 1.25em;
}

#GameContainer {
  margin: auto;
  height: 31.25em;
  width: 62.5em;
  background-color: yellow;
  
}